html,body,div,p,a,ul,li,span,i,dl,dd,dt,th,tr,td {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    /*background-color: #f2fafd;*/
    font-family:"SimSun";
    min-width: 1263px;
}
.btn-self {
    color: #fff;
    height: 28px;
    background-color: #1e8480;
    /*background: url(/app/img/menu/page-btn-bg.png);*/
    /*background-size: auto 100%;*/
}
.btn-self:hover {
    color: #fff;
    background-color: rgb(18,93,90);
}
.table-striped td {
    background: url(/app/img/menu/table-bg.png);
    background-size:100% 100%;
}
thead th {
    font-family: "微软雅黑";
    background-color: rgb(225,225,225);
    font-size: 14px;
    border-right: 1px solid rgb(209, 214, 217) !important;
}
tbody tr {
    font-family: "微软雅黑";
    font-size: 12px;
}
td {
    border-right: 1px solid rgb(209, 214, 217) !important;
    border-top: 1px solid #dcf1ff !important;
}
.table tr.selected {
    color: #1e8480;
}
.excelBtn img ,.btn-self img {
    width: 18px;
    height: 18px;
}
ul li  {
    list-style: none;
}
.nav {
    width: 100%;
    height: 74px;
    /*background-color: rgb(15,111,110);*/
    background: url("/app/img/menu/nav-bg.png");
    background-size: auto 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    color: #FFFFFF;
}
.nav:after {
    clear: both;
}
.page-main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}
.page-top {
    width: 100%;
    /*height: 75px;*/
    height: 50px;
    padding: 5px 5px;
}
.page-content {
    overflow: auto;
}
.page-search-item{
    /*margin-bottom: 15px;*/
    clear: both;
    /*padding: 8px 0 0 0;*/
    padding: 7px 0 0 0;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #39aca7;
    /*background-color: rgb(231,235,245);*/
}
.page-label {
    font-size: 12px;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}
.page-input {
    height: 25px;
}
.page-btn {
    background-color: #FFFFFF;
    border: 1px solid#9e9e9e;
    font-size: 12px;
    width: 65px;
    height: 24px;
    margin-top: -3px;
}
.page-search-item input[type=text] {
    border: 1px solid rgb(158,158,158);
    background: url("/app/img/menu/search-input.png");
    background-size: auto 100%;
}
.main-logo {
    float: left;
    width: 478px;
    height: 100%;
    background: url(/app/img/logo/home-logo.png) no-repeat;
    text-align: right;
}
.main-logo span {
    display: inline-block;
    line-height: 74px;
    font-size: 17px;
}
.nav-items {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.nav-top {
    text-align: right;
    padding-top: 5px;
    width: 100%;
    height: 26px;
    font-size: 14px;
}
.welcom-info {
    margin-right: 15px;
}
.line-separator {
    display: inline-block;
    height: 11px;
    width: 2px;
    background-color: #FFFFFF;
}
.update-pwd {
    padding: 0 15px;
    cursor: pointer;
}
.login-out {
    padding: 0 15px;
    cursor: pointer;
}

.nav-item {
    position: relative;
    width: 100%;
    height: 43px;
}
.home-nav {
    position: absolute;
    right: 0;
    bottom: 0;
}
.home-nav li{
    list-style: none;
    float: left;
    height: 30px;
    line-height: 30px;
    background-color: rgb(30,132,128);
    margin: 5px 10px;
    padding: 0 10px;
    cursor: pointer;
    color: #fbf8d5;
}
.home-nav li.active {
    background-color: rgb(13,77,75);
}
.home-nav li:hover {
    background-color: rgb(13,77,75);
}
.nav-menu-icon {
    position: relative;
    width: 85px;
    height: 74px;
    color: #FFFFFF;
    cursor: pointer;
}
.table {
    background-color: #FFFFFF;
}
.fixed-table-pagination {
    font-size: 12px !important;
}
.location-nav {
    background: url(/app/img/menu/location.png) no-repeat;
}
.nav-menu-icon:hover,.nav-menu-checked {
    background-color: #4fc5fb !important;
}
.nav-menu-icon span {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
.home-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}
.home-menu-outer {
    width: 260px;
    position: relative;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
#moveBox {
    width: 9px;
    background-color: #0f6f6e;
    z-index: 999;
}
#moveBox:hover {
    cursor: col-resize;
}
.home-menu,.home-menu-grid {
    width: 100%;
}
.home-menu-grid{

}
.home-other {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
}
.home-content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    height: 530px;
    position: relative;
}
.home-border {
    width: 100%;
    height: 100%;
    margin: 5px;
    border: 1.2px solid#39aca7;
}
.home-map {
    width: 100%;
    height: 100%;
}
#allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.map-tips {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 820px;
    height: 0;
    background-color: #FFFFFF;
    overflow: auto;
}
.map-tips-title {
    height: 30px;
    padding: 4px;
    width: 100%;
    background-color: #107474;
    color:#fbf8d5;
}
.fast-handle {
    display: inline-block;
    margin-left: 50px;
    border: 1px solid #0d4d4b;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}
.fast-handle:hover {
    background-color: #0d4d4b;
}
.export-warn {
    display: inline-block;
    border: 1px solid#ababab;
    display: inline-block;
    border: 1px solid #ababab;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}
.export-warn:hover {
    background-color: #0d4d4b;
}
.handle-case {
    color: deepskyblue;
}
.handle-case:hover {
    text-decoration: none;
    cursor: pointer;
    color: #23b7fb;
}
.map-tips-info {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    font-weight: bold;
}
.my-fadeInUp {
    animation: fadeUpCss 0.5s;
    -webkit-animation: fadeUpCss 0.5s;
}
@-webkit-keyframes fadeUpCss
{
    from {height:0;}
    to {height:200px;}
}
@keyframes fadeUpCss
{
    from {height:0;}
    to {height:200px;}
}
.show-grid {
    display: none;
}
.menu-title {
    display: inline-block;
    width: 100%;
    height: 35px;
    font-size: 13px;
    padding-left: 25px;
    padding-top: 6px;
    background-color: #1e8480;
    /*border-bottom: 1px solid#99bbe8;*/
    border-bottom: 1px solid#c0c0c0;
    background: url(/app/img/menu/page-btns.png);

    cursor: pointer;
}
.menu-title a {
    /*color: #ffffff;*/
    text-decoration: none;
}
.title-checked {
    font-weight: bold;
}
.sub-menu {
    display: none;
}
.first-submenu {
    display: block;
}
.menu-subItem {
    display: inline-block;
    height:40px;
    width: 100%;
    border-bottom: 1px solid #D9E0E6;
    padding-top: 10px;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
    background-color: #FEFEFE;
}
.sub-checked {
    color: #FF7900;
}
.menu-icon {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    width: 22px;
    margin-top: -15px;
    margin-right: 8px;
}
.menu-pr-icon img{
    vertical-align: middle;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
/**实时位置 历史查询**/
.location-params {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: url("/app/img/menu/grid-top.png");
    background-size: 100% 100%;
}
.location-item {
    display: inline-block;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background-color: rgb(30,132,128);
    margin: 0px 10px;
    cursor: pointer;
}
.location-item:hover {
    background-color: rgb(13,77,75);
}
.location-checked {
    background-color: rgb(13,77,75);
    color: #ffffff;
    font-weight: bold;
}
.search-location,.history-line,.tower-info {
    position: relative;
    height: 160px;
    border-bottom: 1px solid#8db2e3;
    background-color: #f5f5f5;
}
.history-line {
    height: 190px;
}
.history-box,.tower-box {
    display: none;
}
.main-self-item {
    margin: 5px;
}
.main-self-item label {
    /*font-size: 15px;*/
    width: 77px;
    font-weight: normal;
    text-align: center;
}
.main-self-input {
    border: 1px solid rgb(158,158,158);
    background: url(/app/img/menu/search-input.png);
    background-size: auto 100%;
    font-size: 12px;
    width: 60%;
}
.main-btn-item {
    position: absolute;
    right: 0;
    margin-right: 27px;
}
.main-self-btn {
    width: 56px;
    height: 25px;
    border: 1px solid#8db2e3;
    border-radius: 5px;
    background-color: #fdfffa;
}
.main-self-btn:hover {
    background-color: #eefbfd;
}
.table {
    /*background-color: #FFFFFF;*/
}
.home-menu-grid .pagination a {
    width: 29px !important;
    text-align: center !important;
    padding: 6px 0px !important;
}
.home-menu-grid .pagination-detail {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.home-menu-grid .pagination-info {
    line-height: 0;
    margin-right: 0;
}
/*地图弹出信息框*/
.show-marker-box {
    border: 1px solid #107473;
    width: 358px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 3px;
    margin-left: -70px;
}
.show-marker-box-tower {
    border: 1px solid #107473;
    width: 275px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 3px;
    margin-left: -22px;
}
.box-info {
    width: 260px;
    border-top: 1px dashed #107473;
    min-height: 26px;
    line-height: 26px;
    color: #107473;
    margin-left: 5px;
    margin-right: 5px;
}
.show-marker-box .box-info span {
    color: #526069;
}
.show-marker-box .title {
    min-height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #10706f;
    color: #FFFFFF;
    border-radius: 3px 3px 0 0 ;
}
.show-marker-box .title .box-close {
    display: inline-block;
    float: right;
    color: #000000;
    margin-right: 5px;
    margin-top: -2px;
    cursor: pointer;
}
.show-marker-box .title .box-close:hover {
    color: #FFFFFF;
}

.BMap_contextMenu {
    text-align: center;
}
.my-label-css {
    width: 95px;
    font-size: 12px;
    padding: 0!important;
    margin-right: 10px;
    margin-top: 3px;
}
.action-btn {
    margin-left: 5px;
    width:100%;
    height: 40px;
    background: url("/app/img/menu/page-btns.png");
    background-size: auto 100%;
}
.bs-bars {
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    /*border-bottom: 1px solid#c0c0c0;*/
}
.table {
    border-top:1px solid #c0c0c0;
}
#main-location-table tr{
    cursor: pointer !important;
}
.home-select-cls {
    width: 151px;
    height: 29px;
    border: 1px solid rgb(158,158,158);
    background: url(/app/img/menu/search-input.png);
    background-size: auto 100%;
    font-size: 12px;
}
.login-info {
    float: right;
    height: 74px;
    line-height: 74px;
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 15px;
}
.close-map-tips {
    display: inline-block;
    float: right;
    margin-right: 22px;
    cursor: pointer;
}
.close-map-tips:hover {
    color:red;
}
.show-waring-icon {
    position: fixed;
    display: none;
    width: 45px;
    height: 45px;
    z-index: 999;
    right: 70px;
    bottom: 0;
    cursor: pointer;
    background: url("/app/img/map/warn1.gif") no-repeat;
    background-size: 100% 100%;
}

.person-map-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}
.person-map-photo {
    width: 86px;
    height: 107px;
    line-height: 107px;
    text-align: center;
    color: #c0c0c0;
    overflow: hidden;
}
.person-map-photo img {
    width: 86px;
    height: 107px;
}
.person-map-tip {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.person-map-other .box-info {
    width: 347px;
}
.map-show-timeSwther {
    position: absolute;
    z-index: 99999;
    background: rgb(252, 251, 250);
    height: 48px;
    line-height: 48px;
    border-radius: 5px;
    padding: 0 14px;
}
.map-local-time {
    font-family: "Microsoft YaHei";
    font-size: 20px;
}
.swther-img {
    display: inline-block;
    width: 85px;
    height: 74px;
    background: url(/app/img/weather/100.png) no-repeat center;
    background-size: 60px 60px;
    vertical-align: middle;
}
.weather-icon {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}
.tower-tab {
    height: 50px;
    background-color: #f2fafd;
}
.tab-items {
    display: inline-block;
    line-height: 35px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0 15px;
    cursor: pointer;
    background-color: #1e8480;
    color: #fff;
    font-size: 14px;
}
.tab-items.active {
    background-color: #0d4d4b;
    color: #fff;
}
.home-bottom {
    background-color: rgb(48,57,67);
    color: #ffffff;
    height: 30px;
    text-align: center;
}
.home-bottom span {
    line-height: 30px;
    margin: 0 20px;
    font-size: 14px;
}
.fixed-table-header {
    background-color: #e1e1e1;
}
#main-location-table {
    table-layout: fixed;
}


.show-arrow {
    width: 17px;
    height: 62px;
    background: url("../img/menu/icon_arrow_new.png")no-repeat;
    position: absolute;
    z-index: 999;
    right: -27px;
    top: 50%;
    margin-top: -31px;
    cursor: pointer;
}
.show-arrow:hover {
    background-position-x: -21px;
}
.show-arrow.close-arrow {
    background-position-y: -60px;
}

.show-arrow.close-arrow:hover {
    background-position:-21px -60px;
}